@model ResourceMetadata.Web.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<div id="regsitrationcontainer">
    @*  @using (Ajax.BeginForm("Register", "Account", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "function(){alert('Succeeded');", LoadingElementId = "loadingIndicator" }, new { role = "form", @class = "ui secondary small form segment" }))
        {

            }*@
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form", @class = "ui secondary small form segment", id = "registerform" }))
    {
        <h5 class="ui header">Register</h5>
        <div class="ui divider"></div>

        <div class="field">
            <label for="firstname">
                First Name<span style="color: Red">*</span>
            </label>
            @Html.TextBoxFor(model => model.FirstName, new { placeholder = "First Name" })
        </div><div class="ui divider"></div>
        <div class="field">
            <label for="lastname">
                Last Name<span style="color: Red">*</span>
            </label>
            @Html.TextBoxFor(model => model.LastName, new { placeholder = "Last Name" })

        </div><div class="ui divider"></div>
        <div class="field">
            <label for="email">
                Email<span style="color: Red">*</span>
            </label>
            @Html.TextBoxFor(model => model.Email, new { placeholder = "Email" })

        </div><div class="ui divider"></div>
        <div class="field">
            <label for="password">
                Password<span style="color: Red">*</span>
            </label>
            @Html.PasswordFor(model => model.Password, new { placeholder = "Password" })
            <span class="field-validation-error" style="display:none;" class="hide" id="minlength">
                <span>Password should contain at least 6 characters</span>
            </span>
        </div><div class="ui divider"></div>

        <div class="field">
            <label for="confirmpassword">
                Confirm Password<span style="color: Red">*</span>
            </label>
            @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Confirm Password" })

            <span class="field-validation-error" style="display:none;" id="compare" class="hide">
                <span>Password and confirm password should match</span>
            </span>
        </div><div class="ui divider"></div>
        <div class="inline field">
            <input type="submit" class="ui blue mini button" value="Register" />
            @Html.ActionLink("Back to Login", "Login")
        </div>

    }
</div>


<div class="ui active inverted dimmer" id="loadingIndicator" style="display:none;">
    <div class="ui text loader">Loading</div>
</div>


@section Scripts
{

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/main.js"></script>
}
