@model ResourceMetadata.Web.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<div id="regsitrationcontainer">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form", @class = "ui secondary small form segment" }))
    {

        <h5 class="ui header">Register</h5>
        <div class="ui divider"></div>
     
        <div class="field">
            <label for="firstname">
                First Name<span style="color: Red">*</span>
            </label>
            @Html.TextBoxFor(model => model.FirstName, new { placeholder = "First Name" })
        </div><div class="ui divider"></div>
        <div class="field">
            <label for="lastname">
                Last Name<span style="color: Red">*</span>
            </label>
            @Html.TextBoxFor(model => model.LastName, new { placeholder = "Last Name" })

        </div><div class="ui divider"></div>
        <div class="field">
            <label for="email">
                Email<span style="color: Red">*</span>
            </label>
            @Html.TextBoxFor(model => model.Email, new { placeholder = "Email" })

        </div><div class="ui divider"></div>
        <div class="field">
            <label for="password">
                Password<span style="color: Red">*</span>
            </label>
            @Html.PasswordFor(model => model.Password, new { placeholder = "Password" })
        </div><div class="ui divider"></div>

        <div class="field">
            <label for="confirmpassword">
                Confirm Password<span style="color: Red">*</span>
            </label>
            @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Confirm Password" })
        </div><div class="ui divider"></div>
        <div class="inline field">
            <input type="submit" class="ui blue mini button" value="Register" />
            @Html.ActionLink("Back to Login", "Login")
        </div>

    }

    @*<form name="registrationform" role="form" class="">
            <h5 class="ui header">Register</h5>
            <div class="ui divider"></div>
            <div class="field">
                <label for="firstname">
                    First Name<span style="color: Red">*</span>
                </label>
                <input type="text" id="firstname" placeholder="First Name" required />
            </div><div class="ui divider"></div>
            <div class="field">
                <label for="lastname">
                    Last Name<span style="color: Red">*</span>
                </label>
                <input type="text" id="lastname" placeholder="Last Name" required />
            </div><div class="ui divider"></div>
            <div class="field">
                <label for="email">
                    Email<span style="color: Red">*</span>
                </label>
                <input type="text" id="email" placeholder="Email" required />
            </div><div class="ui divider"></div>
            <div class="field">
                <label for="password">
                    Password<span style="color: Red">*</span>
                </label>
                <input type="password" id="password" placeholder="Password" required />
            </div><div class="ui divider"></div>

            <div class="field">
                <label for="confirmpassword">
                    Confirm Password<span style="color: Red">*</span>
                </label>
                <input type="password" id="confirmpassword" placeholder="Password" required />
            </div><div class="ui divider"></div>


            <div class="inline field">
                <button data-ng-disabled="registrationform.$invalid" data-ng-click="register(userRegistration)"
                        class="ui blue mini button">
                    Register
                </button>
                @Html.ActionLink("Back to Login", "Login")
            </div>
        </form>*@
</div>

@section Scripts
{

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
